footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10%;
    margin-top: 5%;
    
    p {
        padding-right: 3%;
    }

    .pexelsRef {
        display: flex;
        align-items: center;
        
        padding-left: 3%;
        
        a {
            
            color: white;
            font-size: 1.5rem;
            padding-left: 4%;
            padding-bottom: 8%;
            
        }
    }
    
}