
.top-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 90vh;
    align-items: center;
    margin-top: 12%;
    margin-bottom: 20%;

        .diningIMG {
            width: 100%;
            margin-bottom: 4%;
        }
        
}

.middle-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 60vh;
    align-items: center;
    margin-top: 4%;
    margin-bottom: 4%;

        .redTeaIMG {
            width: 50%;
        }

}





// About Us Page


.ui-photo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8%;
        
        
        .contactNameIMG {
            display: flex;
            width: 30%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 6%;

              img {
                border-radius: 50%;
                width: 50%;
                padding-bottom: 4%;
              }
        }
}







// 
