
.top-section {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // height: 90vh;
    // align-items: center;
    // margin-top: 12%;
    // margin-bottom: 20%;

        .diningIMG {
            background-image: url(https://images.pexels.com/photos/1243337/pexels-photo-1243337.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
            
        }

        .community{
            margin-top: 10%;
            margin-bottom: 10%;
        }
        
}

.middle-section {
    // display: flex;
    // flex-direction: column;
    // justify-content: space-between;
    // height: 60vh;
    // align-items: center;
    // margin-top: 4%;
    // margin-bottom: 4%;

        .tableIngredientsIMG {
            background-image: url(https://images.pexels.com/photos/2284166/pexels-photo-2284166.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
            background-attachment: fixed;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            height: 600px;
        }

        .learn{
            margin-top: 10%;
            margin-bottom: 10%;
        }

}

.bottom-section{
    .cameraFood{
        background-image: url(https://images.pexels.com/photos/3584927/pexels-photo-3584927.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 600px;
    }
}





// About Us Page


.ui-photo-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 8%;
        
        
        .contactNameIMG {
            display: flex;
            width: 30%;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding-bottom: 6%;

              img {
                border-radius: 50%;
                width: 50%;
                padding-bottom: 4%;
                filter: grayscale(100%);
                
              }

              img:hover{
                  filter: grayscale(0%);
              }
        }
}







// 
