.parallax(@h){
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: @h;
}

.justify-center(){
    display: flex;
    justify-content: center; 
}