header {
   nav {
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: black;
       
        .logo {
            width: 40%;
        }
   } 



   .peppers-water {
       width: 30%;
   }

   .pepper-fire {
       height: 50vh;
   }

   .navItems{
       width: 50%;
       display: flex;
       justify-content: space-between;
   }
    a {
       color: white;
       text-decoration: none;
       font-size: 1.7rem;
   }
   .tasty-food-header {
       display: flex;
       flex-direction: column-reverse;
       align-items: center;
       margin-top: 8%;
       img{
           width: auto;
       }
       
   }
   .sub-sentence{
    display: flex;
    justify-content: center;
    margin-top: 6%;

        p{
            font-size: 2rem;
        }
}
   
}