header {
   nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background-color: black;
       
        .logo {
            width: 20%;
        }
   } 



   .pepperWater {
       width: 70%;
   }

   .pepper-fire {
       height: 50vh;
   }

   .navItems{
       width: 50%;
       display: flex;
       justify-content: space-around;
   }
    a {
       color: white;
       text-decoration: none;
       font-size: 1.9rem;
   }
   .tasty-food-header {
       display: flex;
       flex-direction: column-reverse;
       align-items: center;
       margin-top: 4%;
       img{
           width: auto;
       }
       
   }
   .sub-sentence{
    display: flex;
    justify-content: center;
    margin-top: 6%;
    margin-bottom: 10%;

        p{
            font-size: 2rem;
        }
}
   
}